body {
  background-color: #000000;
  text-shadow: 0 0.05rem 0.1 rem rgb(0, 0, 0 / 50%)
}

h1 {
  text-align: left;
}

ul {
  text-align: left;
}

/* .app {
  text-align: center;
  background-image: url(https://i.playground.ru/p/g2-xXCQT32k3d2fczh-A_Q.jpeg);
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-position: center;
} */









